# Environment Configuration

# Specifies the current environment (development, production, test)
NODE_ENV=development

# Port configuration (replace 'value_port' with the actual port number)
PORT=value_port

# GCP project ID
GCP_PROJECT_ID=GCP_PROJECT_ID

# GCP logger name
GCP_LOGGER_NAME=GCP_LOGGER_NAME



# Redis Configuration

# Redis server hostname or IP address
# Use 'localhost' for local development or the actual host in production
REDIS_HOST=REDIS_HOST

# Redis server port
# Default is typically 6379
REDIS_PORT=REDIS_PORT


# Configuration EMQX
EMQX_BROKER=your-emqx-broker.com
EMQX_PORT=1883
EMQX_USERNAME=your-username
EMQX_PASSWORD=your-password
EMQX_CLIENT_ID=iot-simulator-cf
EMQX_TOPIC=iot/sensors/data
EMQX_QOS=1