# Environment Configuration

# Specifies the current environment (development, production, test)
NODE_ENV=development

# Port configuration (replace 'value_port' with the actual port number)
PORT=value_port

# GCP project ID
GCP_PROJECT_ID=GCP_PROJECT_ID

# GCP logger name
GCP_LOGGER_NAME=GCP_LOGGER_NAME

